<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ExampleKey" value="ExampleValue" />
    </appSettings>
    <connectionStrings>
        <add name="DefaultConnection" 
                 connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;" 
                 providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.7.2" />
    </system.web>
</configuration>